:root {
  --primary: #0b67fc;
  --secondary: #f94892;
  --black: #0f0f0f;
  --white: #f9f7f4;
}

body {
  background-color: var(--white);
  padding: 0 1em 0 1em;
  color: var(--black);
  font-family: "Work Sans", sans-serif;
}

.categories {
  color: var(--secondary);
}

h1,
.heading,
.name {
  font-weight: normal;
  color: var(--primary);
  font-size: 2em;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: var(--secondary);
  height: 2px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.blue {
  color: var(--primary);
}

.project-title {
  color: var(--black);
}

.project-description {
  max-width: 70%;
  font-size: 1.2em;
}

.pics {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.pics img {
  width: 100%;
}

.heading {
  color: var(--secondary);
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
}

.headingup {
  transform: rotate(-90deg);
}

.headingdown {
  transform: rotate(90deg);
}

.downarrow {
  display: inline-block;
}

.project {
  color: var(--black);
  font-size: 2.5vh;
  padding: 1vh 0;
}

.projectlist {
  display: flex;
  flex-direction: column;
}

.hiddenprojectlist {
  display: none;
}

footer {
  text-align: center;
}

.footer {
  display: inline;
}

footer ul li a {
  color: var(--primary);
}

.project-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding {
  padding-top: 2em;
}
